<a href="https://colab.research.google.com/github/YS-Saini/Assignments_Sum_Sch_TIET/blob/main/Assignment_D2r.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# QUESTION 1

---
### *L is a list defined as L= [11, 12, 13, 14].*
---

In [2]:
L= [11, 12, 13, 14]
L.append(50);
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

In [14]:
L= [11, 12, 13, 14]
L.append(50);
L.append(60)
print(L)

L.remove(13)
L.remove(11)
print(L)

[11, 12, 13, 14, 50, 60]
[12, 14, 50, 60]

In [7]:
L.sort()
print(L)

[12, 14, 50, 60]

In [12]:
L.sort(reverse = True)
print(L)

[60, 50, 14, 12]

In [ ]:
if 13 in L:
  print("present")

In [18]:
x = len(L)
print("number of elements = " , x)

number of elements =  4

In [19]:
print(sum(L))

136

In [25]:
summ = 0;
for i in range(0, len(L)):
  if L[i]%2 != 0:
    summ = summ + L[i];

print(summ);

0

In [27]:
L=[11,12,13,14]
sum=0

for i in L:
 c=0 
 for g in range(2,i//2+1):
  if i%g==0:
   c=c+1
 if c==0:  
  sum=sum+i
print("sum of prime numbers is",sum)

sum of prime numbers is 24

In [30]:
L.clear()

In [33]:
del(L)

#QUESTION 2

---
###D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
---

In [34]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

In [38]:
D[8] = 8.8
print (list(D.values()))

[5.6, 7.8, 6.6, 8.7, 7.7, 8.8]

In [39]:
del D[2]
print (list(D.values()))

[5.6, 6.6, 8.7, 7.7, 8.8]

In [42]:
print (6 in D)
print(8 in D)

False
True

In [43]:
print(len(D))

5

In [44]:
x=0
for i in D:
  x += D[i]
print(x)

37.4

In [47]:
D[3]= 7.1

In [48]:
D.clear()

#QUESTION 3

### S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
###S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

#QUESTION 4

In [26]:
# 2).
def is_prime(n):
    for i in range(2, n//2 + 1):
        if n % i == 0:
            return False
    return True

start = 600
end = 800

print("Prime numbers between", start, "and", end, "are:")
for num in range(start, end + 1):
    if is_prime(num):
        print(num)

Prime numbers between 600 and 800 are:
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [2]:
# 3).
print("Numbers between", start, "and", end, "divisible by 7 and 9 are:")
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

Numbers between 600 and 800 divisible by 7 and 9 are:
126
189
252
315
378
441
504
567
630
693
756
819
882
945

#QUESTION 5

---
###WAP to create two lists of 10 random numbers between 10 and 30; Find
---

In [6]:
import random
A = []

for i in range(10):
    num = random.randint(10, 30)
    A.append(num)

B = []
for i in range(10):
    num = random.randint(10, 30)
    B.append(num)

print("List 1:", A)
print("List 2:", B)

List 1: [21, 10, 14, 21, 16, 25, 18, 14, 12, 26]
List 2: [15, 25, 19, 16, 10, 10, 10, 15, 10, 14]

In [1]:
A = [17, 29, 12, 20, 14, 30, 27, 23, 28, 16]
B = [22, 29, 30, 27, 23, 19, 26, 29, 10, 16]

s1 = set(A)
s2 = set(B)

common_numbers = s1.intersection(s2)


print("Common numbers:", common_numbers)

Common numbers: {16, 23, 27, 29, 30}

In [3]:
unique_numbers = s1.union(s2) - s1.intersection(s2)
print(unique_numbers)

{10, 12, 14, 17, 19, 20, 22, 26, 28}

In [8]:
print(max(A))
print(max(B))

26
25

In [9]:
print (A+B)

[21, 10, 14, 21, 16, 25, 18, 14, 12, 26, 15, 25, 19, 16, 10, 10, 10, 15, 10, 14]

#QUESTION 6

---
###WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
---

In [19]:
import random as r
import string as s
numbers = [random.randint(100, 900) for _ in range(100)]

print (numbers)

[829, 272, 505, 852, 670, 196, 207, 799, 281, 571, 694, 335, 708, 887, 316, 170, 214, 455, 651, 262, 722, 418, 112, 731, 165, 882, 159, 763, 830, 603, 366, 815, 393, 752, 448, 114, 418, 775, 754, 389, 157, 174, 329, 301, 874, 355, 560, 690, 638, 393, 613, 445, 568, 118, 371, 103, 125, 622, 582, 107, 378, 531, 533, 837, 597, 543, 323, 350, 588, 274, 739, 176, 228, 412, 193, 146, 233, 251, 419, 408, 298, 724, 409, 180, 844, 772, 556, 159, 737, 625, 824, 789, 436, 780, 753, 711, 101, 436, 784, 338]

In [20]:
even_count = 0
odd_count = 0
for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

In [31]:
i=0
for num in numbers:
    if is_prime(num):
        i = i+1
        print(num)
print (i)

829
281
571
887
389
157
613
103
107
739
193
233
251
419
409
101
16

In [21]:
print("Count of even numbers:", even_count)
print("Count of odd numbers:", odd_count)

Count of even numbers: 51
Count of odd numbers: 49
Count of numbers divisible by 5: 18
Count of numbers divisible by 10: 8

#QUESTION 7

In [ ]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}


with open("test.txt", "w") as file:
    for key, value in D.items():
        file.write(f"{key}, {value}\n")

#QUESTION 8

In [ ]:
L = ["One", "Two", "Three", "Four", "Five"]

with open("test.txt", "w") as file:  
    for element in L:       
        length = len(element)
        file.write(f"{element}, {length}\n")

#QUESTION 9

In [ ]:
import random
import string

def generate_random_string(length):
    letters = string.ascii_letters
    return ''.join(random.choice(letters) for _ in range(length))

with open("output.txt", "w") as file:
    for _ in range(100):
        length = random.randint(10, 15)  # Random length between 10 and 15
        random_string = generate_random_string(length)
        file.write(random_string + '\n')

#QUESTION 10

In [ ]:
def is_prime(n):
    """Check if a number is prime."""
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

# Open the file in write mode
with open("prime_numbers.txt", "w") as file:
    # Write prime numbers between 600 and 800 to the file
    for number in range(600, 801):
        if is_prime(number):
            file.write(str(number) + '\n')

#QUESTION 11

In [ ]:
import time

# Record the start time
start_time = time.time()

# Your program code goes here
# ...

# Record the end time
end_time = time.time()

# Calculate the elapsed time
elapsed_time = end_time - start_time

# Print the elapsed time
print("Elapsed time:", elapsed_time, "seconds")

#QUESTION 12

#QUESTION 13